/* Small devices (tablets, 768px and up) */
@media screen and (min-width:768px) {
    .nav-links{
        display:grid;
        grid-template-rows: 1fr;
        grid-template-columns: repeat(4,1fr);
    .alert-info.hidden-on-desktop {
        display: block;
    }

    }
}

/* Medium devices (desktops, 992px and up) */
@media screen and (min-width:992px) { .nav-links{
    display:grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(4,1fr);

} }

/* Large devices (large desktops, 1200px and up) */
@media screen and (min-width:1200px) {
    .nav-links {
        margin-left: 90em;
    }
body {
    /*display: grid;*/
    /*grid-template-rows: repeat(30,150px);*/
    /*grid-template-columns: repeat(20, 50px);*/
}
}
#owl{
    width: 100%;
    height:100%;
}
.nav-links {
    display: grid;
    grid-template-rows: repeat(1, 40px);

}
h1 {
    /*z-index: 2;*/
    /*display: grid;*/
    /*grid-template-rows: repeat(1, 40px);*/

}