/* Small devices (tablets, 768px and up) */
@media screen and (min-width:768px) {
    .nav-links{
        display:grid;
        grid-template-rows: 1fr;
        grid-template-columns: repeat(4,1fr);
    .alert-info.hidden-on-desktop {
        display: block;
    }

}


/* Medium devices (desktops, 992px and up) */
@media screen and (min-width:992px) { .nav-links{
    display:grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(4,1fr);

} }

/* Large devices (large desktops, 1200px and up) */
@media screen and (min-width:1200px) {
    .nav-links {
        margin-left: 90em;
    }

}
#owl{

}
.nav-links {

    grid-area: 1 / 2 / 2/ 2;

}
body{
    display: grid;
    grid-template-columns: repeat(6, 60em);
    grid-template-rows: repeat(6,60em);



}
